{% load static %}
{% static "image" as baseUrl %}
<html>

<head>

  <title>WillReo</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style/main_stu.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
  <div class="allof" style="background-color: rgba(82, 78, 78, 0.719);">
    <input type="checkbox" id="check">
    <label for="check"> <i class="fa fa-bars" id="btn"></i> <i class="fa fa-times" id="cancel"></i> </label>



    <div class="sidebar">
      <header>
        WillReo
      </header>
      <ul>
        {% if user.is_authenticated %}

        <li><a href="{% url 'upload'  %}"><i class="fas fa-link"></i>Upload</a></li>
        <li><a href="{% url 'profile' %}"><i class="fa fa-user-circle"></i>Profile</a></li>
        <li><a href="{% url 'help' %}"><i class="fas fa-question-circle"></i>People</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        {% endif %}
      </ul>
    </div>

    <nav class="container navy">
      <div class="container nav-wrpper">

        <ul id="nav-mobile" class="right">
          <a href="#" class="left">iTeach</a>
          <li><a href="#">Trending</a></li>
          <li><a href="#">Ask for help!</a></li>
          <li><input type="text" placeholder="Search for people!" wedth=40px style="color: white;"></li>

        </ul>
      </div>
    </nav>



    {% for load in loads %}

    <div class="vl"></div>
    <div id="{{ load.id }}"  name="scroll_id" class="scroll_page">
      <ul>
        {% if user.is_authenticated %}
        <li>
          <h4>{{load.Name}}</h4>
          <p>Uploaded by : {{ load.creator.username }} </p>
        </li>
        <li> <a href="{% url 'delete' load.id %}"><button class="btn btn-primary btn-danger">Delete</button></a>
        </li>
        {% endif %}
        <li>
          <img src="{{load.Image.url}}" alt="" height="400px" width="400px">
        </li>
        <form action="{% url 'upload-likes' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" value="{{ load.id }}" name="upload_id">
          {% if user not in load.likes.all %}
          <button type="submit" class="btn btn-primary btn-sm">Like</button>
          {% else %}
          <button type="submit" class="btn btn-primary btn-danger">Unlike</button>
          {% endif %}
        </form>
        <strong>{{load.likes.all.count}} Likes</strong><br>
        <strong>Liked by : {{load.likes.all}} </strong>


        <li>
          <p>{{load.Description}}</p>

        </li>

        <div class="line-4">
          <hr>
        </div>

      </ul>
    </div>
    {% endfor %}

    <section></section>
  </div>

</body>

</html>