{% load static %}
{% load crispy_forms_tags%}
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style/profile.css' %}">
</head>

<body>


  <div class="">
    {% if user.is_authenticated %}
    <ul>
      <li><h3>Username : {{ user.username}}</h3></li>
      <li><h3>Email : {{ user.email }}</h3></li>    
     <li><h3>School : {{ user.school }} </h3></li>
    </ul>  
    <a  href="{% url 'update_profile' user.id %}"><button class="btn btn-primary btn-block">Update Profile</button></a>
    <a href="/mainpage/stu/"><button class="btn btn-primary btn-block" type="submit">Go Back</button></a>


    {% block content %}

    {% endblock %}
    
    {% endif %}
  </div>



  <!-- <div class="row justify-content-center">
    <div class="col-4">
      <div class="card">
        <div class="card-tytle">Update your profile</div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block">Update profile</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  </p>
  </div>

</body>

</html>